---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>

    <center>
      <iframe width="560" height="315" src="{{ video }}"></iframe>
    </center>

    {{ content | safe }}
    
  
</div>
</article>